*{
    margin: 0;
    padding: 0;
    font-family: algerian;

}

html,body{
    display: grid;
    height: 100%;
    place-items: right;
    background: linear-gradient(
        45deg,
        hsla(340, 100%, 55%, 1) 0%,
        hsla(340, 100%, 55%, 0) 70%
    ),
    linear-gradient(
        135deg,
        hsla(225, 95%, 50%, 1) 10%,
        hsla(225, 95%, 50%, 0) 80%
    ),
    linear-gradient(
        225deg,
        hsla(140, 90%, 50%, 1) 10%,
        hsla(140, 90%, 50%, 0) 80%
    ),
    linear-gradient(
        315deg,
        hsla(35, 95%, 55%, 1) 100%,
        hsla(35, 95%, 55%, 0) 70%
    );

}
.wrapper{
  
   margin-left: 45%;
    height: 50px;
    width: 180px;
    background:linear-gradient(135deg,#14ffe9,#ffeb3b,#ff00e0);
    border-radius: 10px;
    cursor: default;
    animation:animate 1.5s linear infinite;
}

.display,
 .wrapper span{text-align: center;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);

}

.display{text-align: center;
z-index: 999;
 background:#1b1b1b;
 height: 45px;
 width: 172px;
 text-align: center;
 border-radius: 6px;


}

.display #time{text-align: center;
    line-height: 45px;
    color:#fff;
    font-size:25px;
    background:linear-gradient(135deg,#14ffe9,#ffeb3b,#ff00e0);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    animation:animate 1.5s linear infinite;
    

}
h1{  font-size:5rem;
    text-align: center;
    margin-top: 10%;
    color: white;
   
   
    
}

@keyframes animate{
    100%{
        filter:hue-rotate(360deg);
    }

}
.wrapper span{
    height:100%;
    width:100%;
    background:inherit;
    border-radius:10px;
}

.wrapper span:first-child{
    filter:blur(10px);

}
.wrapper span :last-child{
    filter:blur(20px);

}